.hero {
	height: 500px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}

@media (max-width: 767px) {
	.hero {
		height: 300px;
	}
}

.ribbon {
	background-color: var(--white);
	color: var(--grey);
	display: inline-grid;
	font-size: 10px;
	border-top-right-radius: 5px;
}

.author {
	color: var(--dark-grey);
}

.header {
	color: var(--dark);
	text-align: center;
	border-bottom: 1px solid var(--dark);
}

.header h4, .content {
	font-family: 'Labrada', serif;
}

.content {
	font-size: 20px;
	white-space: pre-line;
}

.wrapper {
	max-width: 767px;
}

.buttonMore {
  color: var(--dark);
  border: 2px solid var(--dark);
  background-color: transparent;
}

.buttonMore:hover,
.buttonMore:active {
	background-color: var(--dark);
	color: var(--white);
}