.navbar {
	color: var(--dark);
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--orange);
	font-weight: bold;
  padding: 15px;
  padding-right: 35px;
  padding-top: 35px;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 768px) {
	.logo {
		left: -55px;
	  top: 34px;
		border-bottom-left-radius: 15px;
	  transform: rotate(-90deg);
  	padding-top: 35px;
	}
}

.menu {
	float: right;
}

@media (max-width: 767px) {
	.menu {
		visibility: hidden;
	}
}

.menuGroup {
	border-bottom: 2px solid var(--dark);
	font-weight: bold;
	width: 200px;
	justify-content: space-around;
	padding-bottom: 10px;
}

.menuGroup a, .sheet ul li {
	color: var(--dark);
	font-weight: bold;
}

.menuGroup a.active,
.menuGroup a:hover,
.sheet ul li:hover,
.sheet ul li.active {
	color: var(--orange);
}

.hamburger {
	cursor: pointer;
	z-index: 3;
}

.iconBar {
	background-color: var(--orange);
  height: 4px;
  width: 35px;
  display: block;
  margin-top: 5px;
  transition: all .5s cubic-bezier(.5, 0, .5, 1);
}

.iconBar.top {
	transform: translate3d(0, -1px, 0);
}

.iconBar.mid {
	transform: translateZ(0);
}

.iconBar.bot {
	transform-origin: center center;
}

.hamburger.open .iconBar.top {
	transform: translate3d(0, 9px ,0) rotate(45deg);
}

.hamburger.open .iconBar.mid {
	transform: translateZ(0) rotate(-45deg);
}

.hamburger.open .iconBar.bot {
	transform: scaleX(0);
}

.sheet {
	background-color: var(--white);
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;
}

.sheet ul {
	text-align: center;
	list-style-type: none;
}

.sheet ul li {
	margin: 15px 0;
}

.sheet.open {
	visibility: visible;
	opacity: 1;
}

@media (min-width: 768px) {
	.hamburger, .sheet {
		display: none;
	}
}